<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/addBooks">
  <label for="bname">Book name:</label><br>
  <input type="text" id="bname" name="fname" value=""><br>
  <label for="aname">Author name:</label><br>
  <input type="text" id="aname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form> 


</body>
</html>